.navMenu {
  height: 60px;
  display: flex;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.nav_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}
.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav_menu {
  background-color: white;
  color: black;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  background-color: rgb(240, 240, 240);
}

.nav_menu_active {
  background-color: white;
  color: black;
  width: 200px;
  height: 100%;
  display: flex;
  position: fixed;
  top: 60px;
  left: 0;
  transition: 350ms;
  background-color: rgb(240, 240, 240);
}
.menu_bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav_text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav_text a:hover {
  background-color: #1a83ff;
}
.nav_text a:focus {
  background-color: white;
  color: black;
  width: 80%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  transition-duration: 400ms;
}

.nav_menu_items {
  width: 100%;
  padding: 0;
}
