.wrapper {
	/* background-color: blue; */
	width: 100%;
	height: 100%;
	text-align: center;
}

.formInput {
	padding: 5px;
	margin: 5px;
}

button,
.submitButton {
	padding: 5px;
	margin: 5px;
	background-color: white;
	border: black solid 1px;
    border-radius: 3px;
}

button:hover, .submitButton:hover {
    background-color: rgb(243, 234, 234);
}
